DATABASE_URL="file:./dev.db"
JWT_SECRET="thanhlongshop-super-secret-jwt-key-2026-change-in-production"
ADMIN_EMAIL="admin@thanhlongshop.net"
ADMIN_PASSWORD="admin123456"
NEXT_PUBLIC_ZALO="0924555517"
NEXT_PUBLIC_SHOP_NAME="ThanhLongShop"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
